# ignore mac's folder info file (DS_Store)
*.DS_Store


config.yaml


# txt files: Be careful not to upload experiments datasets
*.txt
*.csv
*.docx
*.pdf
*.xlsx
*.png

# Personal test codes. pjgwak
personal_show_codes_distributions.py
